.entry {
	font-family: monospace;
	background-color: #DDDDDD;
}

.example {
	position: relative;
	left: 20px;
}

.close {
	float: right;
	cursor: pointer;
}

.price_block {
	width: 200px;
	min-height: 200px;
	background-color: #AABBDD;
	margin: 5px;
	display: inline-block;
	vertical-align: top;
}

.current {
	background-color: #EEEEAA;
}

#add {
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	border: 2px dashed black;
	opacity: 0.25;
	cursor: pointer;
}

#add.active {
	opacity: 0.5;
}

#add p {
	top: 50%;
}

li {
	list-style-type: none;
	padding: 0;
	margin-left: 0;
}

.price:before {
	content: "$";
}
